# Deny credentials file
.credentials.json

# Deny pointless stuff
backups
cache
debug
downloads
file-history
plans
plugins
projects
session-env
shell-snapshots
telemetry
todos

history.jsonl
stats-cache.json
mcp-needs-auth-cache.json
